@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #0a0a0a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica,
    Arial, sans-serif;
  color: #0a0a0a;
}
